.main {
    max-width: 800px;
}

.canvas-wrapper {
    text-align: center;
    max-width: 540px;
    margin: auto;
}

.canvas-wrapper canvas {
    width: 100%;
}

.color-cell {
    width: 15px;
    height: 15px;
}
